* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

/* Screen reader only */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    font-size: 16px;
    /* --remove-background: initial; */
    --padding-button: .3rem .6rem;
    --border-button: .5rem;
    --border-width: 2px;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    text-transform: uppercase;
}

button {
    cursor: pointer;
    border: inherit;
    background: none;
}

/* Flex layout nav */
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    position: relative;

    @media screen and (min-width: 800px) {
        gap: 1rem;
    }
}

/* Zender logo */
.nav-logo {
    order: 1;

    @media screen and (min-width: 800px) {
        order: 0; 
    }
}

.nav-logo img {
    width: 110px;
}

/* Hamburger */
.nav-button {
    order: 0;
}

/* Hamburger afbeelding */
.nav-button img {
    width: 50px;

    @media screen and (min-width: 800px) {
        display: none;
    }
}

.nav-button img.showMenu {
    content: url("../assests/hamburger-cross-white.svg");
}

/* Call-to-action */
.nav-whatsapp {
    order: 2; 
    padding: var(--padding-button);
    border-radius: var(--border-button);
    border-width: var(--border-width);

    @media screen and (min-width: 800px) {
        display: flex; 
        align-items: center;
        gap: .5rem;   
        padding: var(--padding-button);     
        border-radius: var(--border-button);
        border-width: var(--border-width);
    }
}

/* Call-to-action afbeelding */
.nav-whatsapp img {
    width: 30px;

    @media screen and (min-width: 800px) {
        width: 25px;
    }
}

/* Call-to-action beschrijving */
.nav-whatsapp figcaption a{
    display: none;

    @media screen and (min-width: 800px) {
        display: inline;
    }
}

/* Links in navigatie */
.nav-links {
    position: absolute;
    width: 100vw; 
    translate: -150% 96.5px; 
    padding: 1rem;
    display: flex; 

    /* Flex layout als parent */
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
    transition: .3s ease-in;

    @media screen and (min-width: 800px) {
        position: relative; 
        translate: 0; 
        order: 1; 
        width: auto;
        padding: 0; 
        transition: 0; 
        flex-grow: 2; 

        /* Flex layout als parent */
        flex-direction: row; 
        justify-content: start;
        gap: 2rem;

    }
}

/* Laat menu zien bij .showMenu class */
.nav-links.showMenu {
    translate: -1rem 96.5px;
} 

/* Bij hover, voeg border bottom toe */
.nav-links a:hover {
    padding-bottom: 5px;
    border-bottom: 1.5px solid white;
    transition: .2s ease-in-out;
}

/* Border bottom bij 'RADIO' */
.nav-links li:nth-child(2) a {
    padding-bottom: 5px;
    border-bottom: 1.5px solid white;
}

/* Flex layout navigatie PROGRAMMERING, DJ'S, PLAYLIST, FREQUENTIES */
.nav-radio {
    display: flex; 
    gap: 2rem;
    padding: 1rem;
    overflow-x: auto; 
    border-bottom: 1px solid #CCCCCC;
}

/* Border actieve link navigatie PROGRAMMERING, DJ'S, PLAYLIST, FREQUENTIES */
.nav-radio .text-highlight {
    padding-bottom: 5px;
    border-bottom: 2px solid #E60063;
}

/* Bij hover, voeg border bottom toe */
.nav-radio a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #E60063;
    transition: .2s ease-in-out;
}

/* Flex layout dagen van de week & scroll bij overflow horizontaal */
.nav-days {
    display: flex; 
    overflow-x: auto; 
}

/* Border bij dagen van de week */
.nav-days span:first-of-type {
    padding: 1rem;
    width: 4rem;
    border-right: 1px solid #CCCCCC;    

    /* Flex layout als parent */
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* Bij hover verander tekst kleur */
.nav-days span:first-of-type:hover {
    color: #E60063;
    transition: .2s ease-in-out;
}

/* Bij hover over het eerste span element, van het tweede list item, van de nav-days (ul); blijft de tekst wit */
.nav-days li:nth-child(2) span:first-of-type:hover {
    color: white; 
}

/* Nummer van datum op een eigen regel door display: block; */
.nav-days strong {
    display: block; 
}

/* Flex layout navigatie zenders */
.nav-zenders ul {
    display: flex;
    align-items: center; 
    gap: 1.5rem;
    padding: 1rem;
    overflow-x: auto;
    border-top: 1px solid #CCCCCC;    


    @media screen and (min-width: 800px) {
        display: none;
    }
}

/* Afbeeldingen navigatie zenders */
.nav-zenders ul img {
    width: 5rem;
}

/* Bij hover over logo, vergroot afbeelding */
.nav-zenders ul img:hover {
    scale: 1.1; 
    transition: .3s ease-in-out;
}

/*  */
.nav-zenders {
    position: absolute;
    width: 100vw;

    translate: 0% -100%;
    z-index: -1; 

    transition: .3s ease-in-out;

}

/*  */
.nav-zenders.showZenders {
    translate: 0% 0%;
}

/*  */
.nav-zenders button img.showZenders {
    content: url("../assests/arrow-up.svg");
}

/* Button navigatie zenders */
.nav-zenders button {
    border-left: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    padding: 0rem 4rem;
    border-radius: 0 0 25px 25px;

    position: absolute;
    left: 50%; 
    translate: -50%;

    @media screen and (min-width: 800px) {
        display: none;
    }
}